{% extends 'base/master.html' %}

{% block title %}Отчет о регистрации{% endblock %}

{% block content %}
<div class="main-box">
    <h2>Отчет о регистрации</h2>
    <hr>
    <div class="info-box" style="background-color: whitesmoke; padding: 20px; color: navy">
        Вы успешно или неуспешно (узнаете позже) зарегистрированы ...
        <br>
        {{ context['login'] }} <br>
        {{ context['pass1'] }} <br>
        {{ context['pass2'] }} <br>
        {{ context['email'] }} <br>
    </div>
</div>
{% endblock %}